/*  Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*  Asteriks wildcard selector to override default styles added by the browser  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*  General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    color: #2e2c2c;
}

h1,
h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 200%;
    font-style: italic;
    font-weight: bold;
    color: #2e2c2c;
    margin-left: 10px;
    letter-spacing: 5px;
}

/* To center all h2 only */
h2 {
    text-align: center;
    margin: 0 0 10px 0;
    letter-spacing: 3px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: large;
    color: #2e2c2c;
    margin: 10px;
    padding: 10px;
    text-align: left;
}

hr {
    border-bottom: 2px solid #2e2c2c;
    margin: 10px;
}

/* Home button styles */
i {
    color: #2e2c2c;
}

button {
    position: fixed;
    padding: 5px;
    right: 5%;
    bottom: 7%;
    z-index: 98;
}


button:hover {
    font-size: xx-large;
    border: 2px solid #2e2c2c;
}

/* Header styles */
header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
    z-index: 99;
    border-bottom: 2px solid #2e2c2c;
    padding: 10px 0;
}

header a {
    text-decoration: none;
    color: inherit;
}

/* Nav Bar dropdown styling*/
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
}

#menu {
    list-style-type: none;
    letter-spacing: 4px;
}


/*  Dropdown */
#burger-button:checked~nav {
    display: block;
}

#burger-button {
    display: none;
}

header i {
    padding: 0 15px;
}

/* Main content styles */
main {
    background-color: #ffffff;
    flex: 1 0 auto;
}

/* Hero image*/
#hero-image {
    height: 565px;
    width: 100%;
    background: url(../images/new-scaled-homepagepic.jpg) no-repeat center center/cover;
    position: relative;
}

/* Cover Text styles */
#cover-text {
    display: none;
    width: 100%;
    background-color: rgba(248, 248, 255, .5);
    color: #2e2c2c;
    font-weight: bold;
    font-size: 200%;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-style: italic;
}

/* History styles */
#history-section {
    background-color: #808776;
}

#main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#main-content video {
    width: 100vw;
}

/* Technical section styles */
#technical-section {
    background-color: #90AB9C;
}

/* Dimensions images styling */
#images-div {
    margin: 10px;
    text-align: center;
}

.dimensions img {
    width: 90%;
}

.discr-dimensions {
    text-align: center;
    font-size: larger;
}

/* Table styling */
table {
    position: relative;
    border-collapse: collapse;
    width: 800px;
    background-color: #90AB9C;
    border-top: 2px solid #3a3a3a;
    margin: 10px 0;
}

th,
td {
    text-align: center;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #DFFCEC;
}

.bold {
    font-weight: bold;
    font-size: large;
}

#overflow-table {
    overflow-x: auto;
}

tr:hover {
    background-color: #E8E5E5;
}

/* Gallery styles */
#gallery-section {
    background-color: #A1CFCD;
}

.gallery {
    position: relative;
}

.descr {
    position: absolute;
    bottom: 15px;
    color: #2e2c2c;
    font-size: 120%;
}

div.gallery:hover {
    border: 2px solid #2e2c2c;
    font-size: larger;
}

div.gallery img {
    width: 100%;
    line-height: 1em;
}

#pictures {
    line-height: 0;
}

/* Footer styling */
footer {
    border-top: 4px solid #2e2c2c;
    background-color: #D3D0D0;
}

/* Contact Form*/
#contact-heading {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    color: #2e2c2c;
    text-align: center;
}

#contact-form {
    display: flex;
    flex-direction: column;
    letter-spacing: 3px;
}

input[type=text],
input[type=email] {
    border-radius: 5px;
    font-weight: bold;
    border: 2px solid #2e2c2c;
    width: 100%;
    height: 40px;
    font-size: large;
    padding: 10px;
    background-color: transparent;
}

#message {
    border-radius: 5px;
    font-weight: bold;
    border: 2px solid #2e2c2c;
    width: 100%;
    font-size: large;
    padding: 5px;
    background-color: transparent;
}

#form-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

input[type=submit],
input[type=reset] {
    border-radius: 5px;
    padding: 5px 20px;
    font-size: large;
    font-weight: bold;
    color: #D3D0D0;
    background-color: #2e2c2c;
    font-style: italic;
}

#column1,
#column2 {
    margin-top: 10px;
}


/* Social media links styles */
#social-media {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    text-align: center;
    font-weight: bold;
}

#social-media i {
    color: #2e2c2c;
    padding: 20px 0;
    font-size: xx-large;
}

#follow-us {
    text-transform: uppercase;
    align-self: center;
    text-align: left;
    font-style: italic;
}

/* Media query: tables and larger (576px and up) */
@media screen and (min-width:576px) {
    h1 {
        margin-left: 20px;
    }

    #pictures {
        column-count: 2;
        column-gap: 0;
    }

    /* Make the dimension images appear in a row*/
    #images-div {
        display: flex;
        justify-content: center;
    }

    /* Footer styling*/
    footer {
        display: flex;
        justify-content: space-evenly;
    }

    /* To center the content in the footer*/
    #column1 {
        margin: 10px 10px 10px 0;
        padding-left: 30px;
    }

    #column2 {
        display: flex;
        flex-direction: column;
    }

    #social-media {
        flex-direction: column;
        margin: 8rem;
    }
}

/* Media query: tablets and larer (768px and up) */
@media screen and (min-width:768px) {

    /* Header */
    h1 {
        margin-left: 30px;
    }

    nav {
        display: block;
        position: relative;
        width: fit-content;
    }

    #menu {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    #menu li {
        padding: 0 5px;
        border-right: 1px solid #2e2c2c;
    }

    #burger-button {
        display: none;
    }

    .burger-label {
        display: none;
    }

    /* History section */
    #main-content {
        display: flex;
        flex-direction: row;
    }

    #main-content video {
        width: 100%;
    }

    #first-part,
    #second-part {
        margin: 0 20px;
    }

    /* Table */
    #technical {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* To make the tachnical tabel appear in the middle*/
    #technical-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #overflow-table {
        align-self: center;
    }

    /* Gallery */
    #pictures {
        column-count: 3;
    }

    /* Footer styles */
    #social-media {
        font-size: x-large;
    }
}

/* Media query: Laptops and larger (992px and up) */
@media screen and (min-width: 992px) {
    h1 {
        font-size: 300%;
        margin-left: 40px;
    }

    #pictures {
        column-count: 4;
    }

    /* To center the table */
    #overflow-table {
        align-items: center;
    }
}